@import url("style-1440.css");

/* Fuentes (Obviously, Inter ) */
@font-face {
  font-family: "Inter";
  src: url("Inter/static/Inter-Light.ttf");
}

@font-face {
  font-family: "Obviously";
  src: url("Font-Obviously/Obviously-Regular.otf");
}

@font-face {
  font-family: "ObviouslyB";
  src: url("Font-Obviously/ObviouslyWide-Bold.otf");
}

:root {
  --Blue: #3245ff;
  --White: #fff;
  --Grey: #bfc1c9;
  --Darkpurple: #1f172f;
  --Darkgrey: #23262d;
  --Borderdarkgrey: #35383e;
  --Darkfooter: #0e0f14;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 16px;
}

body {
  background: radial-gradient(
    circle,
    rgb(53 38 105 / 100%) 10%,
    rgb(28 26 64 / 100%) 33%
  );
}

img {
  max-width: 100%;
  height: auto;
}

/* Estilos del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
}

.modal-content {
  width: 80%;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  background-color: #fefefe;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos del botón de hamburguesa */

nav {
  position: sticky;
  z-index: 999999;
  display: flex;
  height: 5vh;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 150px;
}

.secc- {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("assets/Imgs/bg-grid.png");
  gap: 30px;
}

.secc-1 {
  background: radial-gradient(
    circle,
    rgb(53 38 105 / 100%) 10%,
    rgb(28 26 64 / 100%) 33%
  );
}

h1 {
  padding: 0 20px;
  color: var(--White);
  text-align: center;
  font-family: "Obviously", sans-serif;
  margin-top: 40px;
  font-size: 2.9em;
}

.--h2 {
  margin: 0 32px;
  color: var(--White);
  text-align: center;
  font-family: "Obviously", sans-serif;
  font-size: 2em;
}

.secc-1--p {
  padding: 0 40px;
  color: var(--White);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
}

.--button {
  width: 90px;
  height: 50px;
  padding: 0 40px;
  border: none;
  color: var(--Blue);
  font-family: "Inter", sans-serif;
  border-radius: 50px;
  font-weight: 800;
}

.secc-1--span {
  padding: 0 40px;
  color: #bfc1c9;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.secc-1--cont-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 150px;
  gap: 20px;
}

/************ Seccion 2  ********************/

.--p {
  padding: 0 40px;
  color: var(--White);
  text-align: center;
  font-family: "Inter", sans-serif;
}

.secc-2--card {
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  background-color: var(--Darkgrey);
  border: thin solid var(--Borderdarkgrey);
}

.secc-2--cont-text--card {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 20px;
}

.secc-2--h3 {
  font-family: "Obviously", sans-serif;
  font-size: 1.5em;
  color: var(--White);
}

.secc-2--card--p {
  font-family: "Inter", sans-serif;
  margin: 0 40px 0 0;
  color: #bfc1c9;
}

/************** Seccion 3 **************/
.secc-3--card {
  display: flex;
  width: 280px;
  padding: 24px;
  border: thin solid var(--Borderdarkgrey);
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: start;
  background-color: var(--Darkgrey);
  gap: 20px;
}

.secc-3--label {
  color: var(--White);
  font-size: 1.5em;
  font-family: "Obviously", sans-serif;
  font-weight: 100;
}

.--label {
  font-size: 1em;
  font-family: "Obviously", sans-serif;
  color: var(--Grey);
}

.secc-3--div--cont {
  display: flex;
  width: 270px;
  height: 40px;
  border: thin solid var(--White);
  flex-flow: row wrap;
  align-items: center;
  background-color: var(--Darkgrey);
  border-radius: 5px;
}

.secc-3--div--num {
  width: 98%;
  margin: 5px;
  padding: 5px;
  text-align: end;
  background: linear-gradient(
    90deg,
    rgb(51 97 182 / 100%) 0%,
    rgb(68 207 195 / 100%) 100%
  );
  font-family: "Obviously", sans-serif;
  border-radius: 1px;
}

.--68,
.--63,
.--58,
.--54 {
  color: var(--White);
  background: var(--Borderdarkgrey);
}

.--68 {
  width: 68%;
}

.--63 {
  width: 63%;
}

.--58 {
  width: 58%;
}

.--54 {
  width: 54%;
}

/******************* Seccion 4 ************************/
.h2--p {
  display: inline;
  font-family: "ObviouslyB", sans-serif;
  font-size: 0.9em;
  font-weight: 800;
}

.secc-4--cont--card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.secc-4--card {
  display: flex;
  width: 320px;
  padding: 20px 5px;
  border: thin solid var(--Borderdarkgrey);
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--Darkgrey);
  gap: 30px;
}

.secc-4--card:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgb(60 68 254 / 100%) 0%,
    rgb(158 68 240 / 100%) 46%
  );
}

.secc-4--card:nth-child(3) {
  background: linear-gradient(
    90deg,
    rgb(51 97 182 / 100%) 0%,
    rgb(68 207 195 / 100%) 100%
  );
}

.secc-4--card:nth-child(4) {
  background: linear-gradient(
    90deg,
    rgb(219 53 75 / 100%) 0%,
    rgb(232 61 192 / 100%) 50%
  );
}

.secc-4--card:nth-child(5) {
  background: linear-gradient(
    90deg,
    rgb(219 53 75 / 100%) 0%,
    rgb(232 167 61 / 100%) 50%
  );
}

.secc-4--div--cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 250px;
}

.secc-4--button {
  width: 120px;
}

/****************** Seccion 5 ***********************/

.secc-5--img {
  height: 10vh;
}

.secc-5--img:nth-child(4) {
  height: 20vh;
  animation: houston 3s ease-in-out 0s infinite alternate;
}

@keyframes houston {
  to {
    transform: translateX(200px);
  }

  from {
    transform: translateX(-200px);
  }
}

.secc-5--h2 {
  font-weight: 300;
}

.secc-5--button {
  width: 100px;
}

/****************  Footer  *************************/

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 120vh;
  background-color: var(--Darkfooter);
  box-shadow: 0 0 100px 20px #204c54;
}

.footer--div--cols {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
}

.footer--div--col1 {
  gap: 20px;
}

.footer--div--col1,
.footer--div--col2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.footer--h2 {
  font-size: 1.2em;
}

.footer--p {
  padding: 0 20px 5px;
  color: var(--White);
  text-align: center;
  font-family: "Inter", sans-serif;
}

.footer--email {
  width: 300px;
  padding: 10px;
  border: none;
  color: var(--Grey);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: var(--Darkgrey);
  border-radius: 10px;
}

.footer--button {
  width: 300px;
  padding: 10px;
  border: none;
  color: var(--White);
  background: linear-gradient(
    90deg,
    rgb(60 68 254 / 100%) 0%,
    rgb(158 68 240 / 100%) 46%
  );
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 20px;
}

.footer--div--cont {
  display: grid;
  justify-content: center;
  align-items: start;
  width: 320px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.footer--div--grid {
  line-height: 30px;
}

.footer--div--h3 {
  font-family: "Obviously", sans-serif;
  color: var(--Borderdarkgrey);
}

.footer--div--p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--White);
}

.footer--nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  background-color: var(--Darkfooter);
  width: 320px;
  gap: 20px;
}

.footer--nav--p {
  font-family: "Inter", sans-serif;
  color: var(--White);
}

.footer--nav--h3 {
  font-family: "Obviously", sans-serif;
  color: var(--Borderdarkgrey);
}

.footer--nav--icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  width: 40px;
  gap: 10px;
}
