.secc-5--img {
  height: 10vh;
}

.secc-5--img:nth-child(4) {
  height: 20vh;
  animation: houston 3s ease-in-out 0s infinite alternate;
}

@keyframes houston {
  to {
    transform: translateX(200px);
  }

  from {
    transform: translateX(-200px);
  }
}

.secc-5--h2 {
  font-weight: 300;
}

.secc-5--button {
  width: 100px;
}

@media (width >= 1440px) {
  .secc-5--h2 {
    font-size: 3em;
    margin: 10px 450px;
  }

  .secc-5--img:nth-child(4) {
    height: 30vh;
  }
}
