/* Inter (400 / 700) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Lexend Deca ( 400 )*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --Verydarkblue: hsl(233, 47%, 7%);
  --Darkdesaturatedblue: hsl(244, 38%, 16%);
  --Softviolet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightlytransparentwhitemain: hsla(0, 0%, 100%, 0.75);
  --Slightlytransparenthitestat: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Verydarkblue);
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  text-align: center;
  border: thin solid #000;
  border-radius: 10px;
  max-width: 320px;
  height: 85vh;
  background-color: var(--Darkdesaturatedblue);
}

.cont-texts {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  margin: 2em;
}

img {
  max-width: 100%;
  width: auto;
  border-radius: 10px 10px 0px 0px;
}

h1 {
  font-size: 1.6em;
  font-family: "Lexend Deca";
  color: var(--White);
  font-weight: 700;
}

.text-1 > h1 > span {
  font-size: 0.99em;
  color: var(--Softviolet);
  font-family: "Lexend Deca";
  font-weight: 700;
}

.text-2 {
  font-weight: 300;
  font-family: "Lexend Deca";
  font-size: 1em;
  color: var(--Slightlytransparenthitestat);
  line-height: 1.6em;
}

.text-3 {
  text-align: center;
}

.text-3 > p {
  font-size: 1.5em;
  font-family: "Lexend Deca";
  font-weight: 400;
  color: var(--White);
  line-height: 0.9em;
}

.text-3 > span {
  color: var(--Slightlytransparenthitestat);
  text-transform: uppercase;
  font-family: "Lexend Deca";
  font-size: 0.8em;
  line-height: 4.5em;
}
