/* Inter (400 / 700) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Lexend Deca ( 400 )*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --Verydarkblue: hsl(233, 47%, 7%);
  --Darkdesaturatedblue: hsl(244, 38%, 16%);
  --Softviolet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightlytransparentwhitemain: hsla(0, 0%, 100%, 0.75);
  --Slightlytransparenthitestat: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Verydarkblue);
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: thin solid #000;
  border-radius: 10px;
  max-width: 320px;
  min-height: 100%;
  background-color: var(--Darkdesaturatedblue);
}

.cont-texts {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  margin: 30px;
}

img {
  max-width: 100%;
  width: auto;
  border-radius: 10px 10px 0px 0px;
}

h1 {
  font-size: 1.6em;
  font-family: "Lexend Deca";
  color: var(--White);
  font-weight: 700;
}

.text-1 > h1 > span {
  font-size: 1em;
  color: var(--Softviolet);
  font-family: "Lexend Deca";
  font-weight: 700;
}

.text-2 {
  font-weight: 300;
  font-family: "Lexend Deca";
  font-size: 0.96em;
  color: var(--Slightlytransparenthitestat);
  line-height: 1.6em;
}

.text-3 {
  text-align: center;
}

.text-3 > div > p {
  font-size: 1.4em;
  font-family: "Lexend Deca";
  font-weight: 400;
  color: var(--White);
  line-height: 1em;
}

.text-3 > div > span {
  color: var(--Slightlytransparenthitestat);
  text-transform: uppercase;
  font-family: "Lexend Deca";
  font-size: 0.8em;
  line-height: 3em;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Verydarkblue);
  }

  section {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    min-width: 1000px;
    height: 400px;
  }

  section > * {
    display: flex;
    text-align: start;
  }

  img {
    min-width: 50%;
    width: auto;
    border-radius: 0px 10px 10px 0px;
    object-fit: cover;
  }

  .cont-texts {
    display: flex;
    margin: 60px 75px 60px 60px;
    gap: 40px;
  }

  .text-3 {
    display: flex;
    flex-flow: row wrap;
    text-align: start;
    justify-content: start;
    gap: 30px;
  }
}
