@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --Cyan: hsl(179, 62%, 43%);
  --LightCyan: hsl(179, 62%, 43%, 0.7);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
  --White: hsl(0, 0%, 100%);
  --Shadow: #0005;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--LightGray);
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  width: 320px;
}

/******* Contenedor 1 *******/

.cont-1 {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--White);
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

h1 {
  color: var(--Cyan);
  font-size: 1.4em;
}

.cont-1 > h2 {
  color: var(--BrightYellow);
  font-size: 1em;
}

.cont-1 > p {
  color: var(--GrayishBlue);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 25px;
  margin: 0px 0px 20px 0px;
}

/********* Contenedor 2 **********/
.cont-2 {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--Cyan);
  padding: 20px;
  line-height: 40px;
}

.cont-2 > h2 {
  color: var(--White);
  font-size: 1.2em;
}

.cont-2 > span {
  font-size: 2em;
  color: var(--White);
  font-weight: 700;
}

.cont-2 > span > small {
  font-size: 0.5em;
  color: var(--LightGray);
  font-weight: 400;
}

.cont-2 > p {
  font-size: 1em;
  color: var(--White);
}

.cont-2 > button {
  background-color: var(--BrightYellow);
  border: none;
  color: var(--White);
  font-size: 0.9em;
  width: 260px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px var(--Shadow);
  margin: 10px 0px 0px 0px;
}

/********** Contenedor 3 ***********/

.cont-3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
  background-color: var(--LightCyan);
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
}

.cont-3 > h2 {
  color: var(--White);
  font-size: 1.2em;
}

.cont-3 > p {
  color: var(--LightGray);
  font-size: 1em;
  font-weight: 100;
  margin: 0px 70px 0px 0px;
  line-height: 20px;
}

@media (min-width: 1440px) {
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--LightGray);
  }

  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    min-width: 700px;
  }

  .cont-1 {
    max-width: 100%;
  }

  .cont-2 {
    width: 310px;
  }

  .cont-3 {
    width: 310px;
  }
}

/* section {
    display: grid;
    width: 720px;
    height: 55vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .cont-1 {
    grid-column: 1/5;
    grid-row: 1/3;
    padding: 50px;
    border-radius: 5px 5px 0px 0px;
  }

  .cont-2 {
    grid-column: 1/3;
    grid-row: 3/5;
    padding: 40px;
    border-radius: 0px 0px 0px 5px;
  }

  .cont-3 {
    grid-column: 3/5;
    grid-row: 3/5;
    padding: 40px;
    border-radius: 0px 0px 5px 0px;
  } */
